.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 1em 3em;
    gap: 1em;
}

.logo {
    padding-top: 1em;
    width: 60%;
}

.btn {
    width: 40%;
    margin: 1em 0;
}

.section {
    display: flex;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section img {
    position: relative;
}

@media (min-width: 768px) {
    .section {
        flex-direction: row;
        gap: 1em;
    }

    .logo {
        width: 20%;
    }
    
    .btn {
        width: 15%;
    }
}
